.all-questions {
  padding: 3px;
}
.all-questions-container {
  border-bottom: 1px solid rgba(212, 211, 211, 0.737);
  padding: 10px 2px;
}
.all-questions-top {
  padding: 3px 0px;
}
.all-options {
  padding: 3px 0px;
}
.question-option {
  margin-right: 10px;
  color: grey;
}
.all-questions-bottom {
  padding: 3px 0px 5px 0px;
}
.all-questions-bottom > a {
  color: rgb(0, 139, 253);
  text-decoration: underline;
  /* padding: 2px; */
  margin-bottom: 15px;
}
.all-questions-bottom > a:visited,
a:active {
  color: rgb(0, 139, 253);
}
.question-desc {
  width: 90%;
  max-height: 150px;
  overflow-y: hidden;
  margin-bottom: 10px;
}
.question-tags {
  display: flex;
}
.question-tag {
  background-color: rgba(23, 108, 145, 0.242);
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}
.question-author-info {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.question-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(3, 96, 173);
  margin-right: 10px;
}
.question-author > .MuiAvatar-root {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
